.portada{  
    object-fit: contain;
}



.nav-link{
    color:blueviolet;
}

.nav-link-active{
    color:black;
}


.bg-amarillo{
    background-color:yellow;
    color:black;
    border-color:black;
}

.btn{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}
.btn-amarillo:hover {
    background-color: yellow;
    color:orangered;
    border-color:orangered;
    text-decoration: underline;
}


.card {
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 0px 8px 5px;
    width: 250px ;
    font-family: "comic sans", sans-serif;
    
}
.card__img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.card__body {
    padding: 1rem;
} 

.card__btn{
    background-color: yellow;
    color:black;
    border-color:grey;
    box-shadow : 5px 5px 5px;
    border-radius:10px 5px 10px;

}

.card__btn:hover {

    color:white;
    border-color:black;
}


.card__img-nos{
    width: 500%;
    height: 500px;
    border-color:grey;
    box-shadow : 5px 5px 5px;
    border-radius:10px 5px 10px;
    object-fit:contain;
    
}


.desc__nos{ 
    padding: 5px;
    border-color:white;
    box-shadow : 10px 5px 10px;
    border-radius:5px 10px 5px;
    color:black;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-shadow: white 10px 0px 10px;
    text-align:center;
    text-decoration:solid;
    width: 500px ;
    height: 350px ;
    font-family:Arial, Helvetica, sans-serif
}

.bi{
    font-size: 200%;
}
.bi-instagram{
    color:fuchsia;

}

.bi-instagram:hover{
    color:red;
}


.bi-facebook{
    color:blue;
}

.bi-facebook:hover{
    color:red;
}

.img__req{
    width: 500%;
    height: 500px;
    object-fit: contain;
}

.list__req{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: medium;
    text-decoration-line: underline;
    font-family:Arial, Helvetica, sans-serif;
    color: green;
}


.footer {
    margin-top: 50px;
    width: 100%;
    float: left;
}

.trademark {
    text-align: center;
    margin-right: 100px;
    float: right;
}

.trademark a {
    font-size: medium;
    color: dimgrey;
}

.social {
    float: left;
}

.social img {
    height: 100px;
    margin-left: 50px;
} 